<div id="icons" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Detail</span>
            </div>

            <div class="title">Custom Object Detail</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->

    <div class="content" layout="row"  layout-align="space-between center">

      <div layout="column" style="width:485px;" layout-padding ng-cloak>
        <br/>

      <md-toolbar class="demo-toolbar md-primary md-default-theme"><div class="md-toolbar-tools"><h3 class="ng-binding">Object Detail</h3><span flex="" class="flex"></span><button class="md-icon-button md-button md-ink-ripple md-default-theme" type="button" ng-transclude="" aria-label="View Source" ng-class="{ active: demoCtrl.$showSource }" ng-click="demoCtrl.$showSource = !demoCtrl.$showSource"><md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_code_24px.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
    <path fill="none" d="M0 0h24v24H0V0z"></path>
    <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
</svg></md-icon></button></div></md-toolbar>


        <md-content class="autoScroll">
          <md-input-container class="md-icon-float md-block">
            <b>Custom Object Name </b>: {{ vm.objectname}}
          </md-input-container>
          <md-input-container class="md-block">
            <b>Created At </b>: 2015/12/23
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>Source</b>     :  FTP
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>File Format</b> : CSV
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>Created By</b> : Jithendrath Gupta
          </md-input-container>


        </md-content>
      </div>

      <div layout="column"  style="width:485px;" layout-padding ng-cloak>
        <br/>

        <md-toolbar class="demo-toolbar md-primary md-default-theme"><div class="md-toolbar-tools"><h3 class="ng-binding">Scheduler Information</h3><span flex="" class="flex"></span><button class="md-icon-button md-button md-ink-ripple md-default-theme" type="button" ng-transclude="" aria-label="View Source" ng-class="{ active: demoCtrl.$showSource }" ng-click="demoCtrl.$showSource = !demoCtrl.$showSource"><md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_code_24px.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
    <path fill="none" d="M0 0h24v24H0V0z"></path>
    <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
</svg></md-icon></button></div></md-toolbar>
        <md-content class="autoScroll">

          <md-input-container class="md-icon-float md-block">
            <b>Schedule Frequency </b>:  Daily
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>Next Scheduled Time</b> : 2015/12/29
          </md-input-container>

          <md-input-container class="md-block">
            <b>Last Run At </b>: 2015/12/2018
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>No of Events </b>     :  897,126,790
          </md-input-container>

          <md-input-container md-no-float class="md-block">
            <b>Last Invalid Events</b> : 1,278
          </md-input-container>
        </md-content>
      </div>
    </div>
  <div layout="column" style="width:990px;margin-left:20px" layout-padding ng-cloak>
    <br/>

     <md-toolbar class="demo-toolbar md-primary md-default-theme"><div class="md-toolbar-tools"><h3 class="ng-binding">Object Rules</h3><span flex="" class="flex"></span><button class="md-icon-button md-button md-ink-ripple md-default-theme" type="button" ng-transclude="" aria-label="View Source" ng-class="{ active: demoCtrl.$showSource }" ng-click="demoCtrl.$showSource = !demoCtrl.$showSource"><md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_code_24px.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
    <path fill="none" d="M0 0h24v24H0V0z"></path>
    <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
</svg></md-icon></button></div></md-toolbar>
    <md-content class="autoScroll">
      <div layout="column" layout-padding ng-cloak>
        <md-content class="autoScroll">
          <div  class="add-task-button">
            <md-button  style="float:right;margin-left:859px" class="md-accent md-raised" ng-click="vm.openTaskDialog($event)" aria-label="ADD TASK">
              + RULE
            </md-button>
          </div>
        </md-content>
        <div>
          <table class="simple" ms-responsive-table>
            <thead>
            <tr>
              <th>Rule Name</th>
              <th>Field</th>
              <th>Custom Object Name</th>
              <th>Created At</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <td></td>
            </tr>
            </tfoot>

            <tbody id="BodyTable">
            <tr ng-repeat="x in ::vm.rulesList"><td >{{ x.rulename }}</td><td >{{ x.field }}</td><td >{{ x.objectname }}</td><td >{{x.createdAt}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </md-content>
  </div>
  <div layout="column" style="width:990px;margin-left:20px" layout-padding ng-cloak>
    <br/>

          <md-toolbar class="demo-toolbar md-primary md-default-theme"><div class="md-toolbar-tools"><h3 class="ng-binding">Object Schema</h3><span flex="" class="flex"></span><button class="md-icon-button md-button md-ink-ripple md-default-theme" type="button" ng-transclude="" aria-label="View Source" ng-class="{ active: demoCtrl.$showSource }" ng-click="demoCtrl.$showSource = !demoCtrl.$showSource"><md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_code_24px.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
    <path fill="none" d="M0 0h24v24H0V0z"></path>
    <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
</svg></md-icon></button></div></md-toolbar>
    <md-content class="autoScroll">
      <div layout="column" layout-padding ng-cloak>
        <md-content class="autoScroll">
          <table class="simple" ms-responsive-table>
            <thead>
            <tr>
              <th>Clear Price</th>
              <th>Bid Price</th>
              <th>State</th>
              <th>Country</th>
              <th>Validity</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <td></td>
            </tr>
            </tfoot>

            <tbody>
            <!-- <tr ng-repeat="(key, prop) in vm.schema">
              <td class="name">{{key }}</td>
              <td class="position">{{vm.schema[key]}}</td>
            </tr> -->
            <tr>
               <td>$8.00</td>
               <td>$8.00</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$6.70</td>
               <td>$6.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$9.70</td>
               <td>$9.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$8.00</td>
               <td>$8.00</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$6.70</td>
               <td>$6.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$9.70</td>
               <td>$9.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$8.00</td>
               <td>$8.00</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$6.70</td>
               <td>$6.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            <tr>
               <td>$9.70</td>
               <td>$9.90</td>
               <td>CA</td>
               <td>USA</td>
               <td>Valid</td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </div>

    </md-content>
  </div>
    <!-- / CONTENT -->

</div>

<style>
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  height: 50px;
}
</style>
