<div id="register-v2" layout="row" layout-align="start">
    <div id="register-v2-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span>H</span>
        </div>
        <div class="title" translate="REGISTER_V2.INTRO_TITLE">
            Welcome to the HEALTH GURU!
        </div>
        <div class="description" translate="REGISTER_V2.INTRO_DESCRIPTION">
            Few details of you will Help us alot!
        </div>
    </div>

    <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
        <div id="register-v2-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>H</span>
            </div>

            <div class="title" translate="REGISTER_V2.TITLE">Create an account</div>
            <div class="description" translate="REGISTER_V2.DESCRIPTION">
            </div>

            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="firstname" ng-model="vm.form.firstname" placeholder="First Name"
                           translate translate-attr-placeholder="REGISTER_V2.FIRSTNAME"
                           required>
                    <div ng-messages="registerForm.firstname.$error" ng-show="registerForm.firstname.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER_V2.ERRORS.FIRSTNAME_REQUIRED">First Name field is required</span>
                        </div>
                    </div>
                </md-input-container>

              <md-input-container class="md-block" md-no-float>
                <input name="lastname" ng-model="vm.form.lastname" placeholder="Last Name"
                       translate translate-attr-placeholder="REGISTER_V2.LASTNAME"
                       required>
                <div ng-messages="registerForm.lastname.$error" ng-show="registerForm.lastname.$touched"
                     role="alert">
                  <div ng-message="required">
                    <span translate="REGISTER_V2.ERRORS.LASTNAME_REQUIRED">Last Name field is required</span>
                  </div>
                </div>
              </md-input-container>


                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           translate translate-attr-placeholder="REGISTER_V2.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched" role="alert"
                         multiple>
                        <div ng-message="required">
                            <span translate="REGISTER_V2.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="REGISTER_V2.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="REGISTER_V2.PASSWORD"
                           required>
                    <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER_V2.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="REGISTER_V2.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="registerForm.passwordConfirm.$error"
                         ng-show="registerForm.passwordConfirm.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER_V2.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>
              <md-input-container class="md-block" md-no-float>
                <input type="tel" name="mobileNumber" ng-model="vm.form.mobileNumber"
                       placeholder="Mobile Number"
                       required>
              </md-input-container>
              <md-input-container class="md-block" md-no-float>
                <md-select ng-model="vm.form.gender" placeholder="I am" class="md-no-underline">
                  <md-option value="male">Male</md-option>
                  <md-option value="female">Female</md-option>
                  <md-option value="other">Other</md-option>
                </md-select>
              </md-input-container>


              <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span translate="REGISTER_V2.READ_ACCEPT">I read and accept</span>
                        <a href="#" class="md-accent-color" translate="REGISTER_V2.TERMS_COND">terms and conditions</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"
                           translate="REGISTER_V2.CREATE_ACCOUNT"
                           translate-attr-aria-label="REGISTER_V2.CREATE_ACCOUNT">
                    CREATE MY ACCOUNT
                </md-button>
            </form>

            <div class="login" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" translate="REGISTER_V2.ALREADY_HAVE">Already have an account?</span>
                <a class="link" ui-sref="app.login" translate="REGISTER_V2.LOGIN">Log in</a>
            </div>
        </div>
    </div>
</div>
